@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 600px) {
  .small-device-background {
    background-image: none !important;
  }
}
@keyframes bg-gradient {
  0% {
    background-color: #0074d9; /* Darker blue */
  }
  100% {
    background-color: #50e3c2; /* Lighter blue */
  }
}
.animate-bg-gradient {
  animation: bg-gradient 5s linear infinite;
}
